*
!.gitignore
!.gitconfig
!.zshrc
!.bundle.sh
!.tool-versions
!.go-install-tools.sh
!.install.sh
!.Brewfile
!.Brewfile.lock.json
!.Brewfile.personal
!.Brewfile.personal.lock.json
!.git-*.sh
!README.md